body{
    background-color: rgba(0, 5, 15, 0.952);
    margin: 0;
}
.flex-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-bottom: 120px;
}
.content{
    color: #fff;
}
/* This class belongs to the upper-header containing the course name */
.header{ 
    color:#fff;
    background-color: rgba(32, 6, 179, 0.507);
    text-align: center;
    padding: 1px 0;
    position: sticky;
}
.container{
    width: 100%;
}
/* This class belongs to the lower-header that stays at the top while scrolling down */
.fixed-header{ 
    width: 100%;
    position: sticky;        
    background: rgba(32, 6, 179, 0.658);
    padding: 20px 0;
    color: #fff;
    top: 0; /* For the header to remain at the top while scrolling */
}
/* Centers the text within the header menu */
.headermenu{
    text-align: center;
}
.headermenu a{
    display:inline-block
}
nav a{
  padding: 20px;
  text-decoration: none;
  width: 10%; /* Eight items of equal width, adds up to 100% */
  text-align: center;
  font-family: 'Segoe UI', 'San Francisco';
  color: #fff;
  font-size: 20px;
  height: 20px;
}
nav a:hover{
  background-color: rgba(255, 217, 0, 0.685);
  border-radius: 7px;
}
/* Leave space from the header so that text does not fall under it */
.container p{
    line-height: 200px;
}
/* This class represents the currently selected page */
.current{
  background-color: rgba(245, 222, 12, 0.932);
  font-size: 22px;
  padding: 20px;
  font-weight: bold;
  color: #000;
  border-radius: 7px;
}
.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(53, 9, 248, 0.479);
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}
.footer p{
    width: 50%;
    font-size: 22px;
    font-family: 'Segoe UI';
    font-weight: lighter;
    text-decoration: none;
}
.footer a:link {
    text-decoration: none;
    color:#fff;
  }
.footer a:visited {
    text-decoration: none;
    color:#fff;
  }
.footer a:hover {
    color:rgb(230, 206, 103);
  }

  /* The code above this line is used by every page and consists of styling for the header, page content, and footer */
  
  /* The next section consists of styling for the LECTURES page, and other pages that are navigated to through the LECTURES page */

  .week0 :hover{
    font-style: italic;
  }
  .week :hover{
    font-style: italic;
  }
  .week0 {
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 100px 50px  ;
  }
  
  .week {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 100px 50px  ;
  }
  .item1{
   /*padding: 50px 0;
   */
   color: black;
   font-family:'san francisco';
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 1/5;
   background-color: #fbb034;
   background-image: linear-gradient(200deg, #fbb034 0%, #ffdd00 74%);
   border: 2px solid rgba(0, 0, 0, 0.8);
   border-radius: 15px;
  }
  .item2{
   color: black;
   font-family:'san francisco';
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 1/3;
   background-color: #fbb034;
   background-image: linear-gradient(200deg, #fbb034 0%, #ffdd00 74%);
   border: 2px solid rgba(0, 0, 0, 0.8);
   border-radius: 15px;
  }
  .item3{
    color: black;
    font-family:'san francisco';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/5;
    background-color: #fbb034;
    background-image: linear-gradient(160deg, #fbb034 0%, #ffdd00 74%);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
  }
  /*special case for week 5 tutorial */
  .week9 {
    margin-top: 60px;
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: 85px 85px 85px 85px 85px 85px;
    grid-template-rows: 100px 50px;
  }
  .item15{
   /*padding: 50px 0;
   */
   color: black;
   font-family:'san francisco';
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 1/7;
   background-color: #fbb034;
   background-image: linear-gradient(200deg, #fbb034 0%, #ffdd00 74%);
   border: 2px solid rgba(0, 0, 0, 0.8);
   border-radius: 15px;
  }
  .item25{
   color: black;
   font-family:'san francisco';
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 1/3;
   background-color: #fbb034;
   background-image: linear-gradient(200deg, #fbb034 0%, #ffdd00 74%);
   border: 2px solid rgba(0, 0, 0, 0.8);
   border-radius: 15px;
  }
  .item35{
    color: black;
    font-family:'san francisco';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/5;
    background-color: #fbb034;
    background-image: linear-gradient(160deg, #fbb034 0%, #ffdd00 74%);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
  }
  .item45{
    color: black;
    font-family:'san francisco';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5/7;
    background-color: #fbb034;
    background-image: linear-gradient(160deg, #fbb034 0%, #ffdd00 74%);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
  }
  /*special case of 2 element grid*/
  .item20{
    color: black;
    font-family:'san francisco';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/6;
    background-color: #fbb034;
    background-image: linear-gradient(160deg, #fbb034 0%, #ffdd00 74%);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
  }
  .leccontent{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .leccontent h1, p{
    background-color: #fbb034;
    border-radius: 5px;
  }
  .Prelec{
    background-color: beige;
    border-radius: 5px;
  }
  .SlidesVideos{
    background-color: beige;
    border-radius: 5px;
  }
  .leccontent a:hover{
    font-style: italic;
  }